{% extends 'base.html.twig' %}

{% block title %}Nos Produits{% endblock %}

{% block body %}


<div class="example-wrapper">
    <h1>Liste des produits</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/var/www/html/mydigitalmarketplace/src/Controller/ProductsController.php'|file_link(0) }}">src/Controller/ProductsController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/var/www/html/mydigitalmarketplace/templates/products/index.html.twig'|file_link(0) }}">templates/products/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
